* {
    margin: 0;
    box-sizing: border-box;
  
}
ul, ol {
    padding: 0;
    margin: 0;
}

.top-header {
    display: grid;
    grid-template-columns: 2fr 1.7fr 1fr;
    align-items: center;
    padding: 10px 20px;
    background: #f5f5f5;
  
}

.Info-contato {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Info-contato a, .Info-contato span {
    margin-left: 10px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
}

#email {
    display: flex;
    align-items: center;
    height: 14px;
    width: 14px;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    
    gap: 20px;
}



.social-icons svg{
    width: 20px;
    height: 20px;
}

.language-login {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.language {
    display: flex;
    align-items: center;
    margin-right:10px;
    gap: 8px;
    margin-left: 15px;
}
.ingles{
    display: flex;
   margin-left: 19px;
   gap: 18px;
   align-items: center;
}
.ingles svg {
    margin-left: 5px;
    width: 20px;
    height: 20px;
    gap: 10px;
}

.language img {
    width: 27px;
    height: 14px;
    margin-right: 5px;
   
}

.language span {
    font-size: 14px;
    color: #333;
}

.login {
    font-size: 14px;
    color: #333;
    text-decoration: none;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.3fr 1.3fr 1.4fr 1fr;
    grid-template-rows: 80px 80px 431px 271px;
}



#logo {
    grid-column: 2;
    margin-top: 10px;
}

#nav {
    grid-column: 3 / 6;
  
}
#nav a{
    text-decoration: none; 
            color: inherit; 
}
#nav ul{
    font-family: "Cairo", sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 14px;
}

#menu {
    grid-column: 2;
    grid-row: 2 / 4;
}

#busca {
    grid-column: 3 / 6;
    grid-row: 2;
    display: flex;
    align-items: center;
    gap: 43px;
  
}

#search-container {
    display: flex;
    width: 100%;
    max-width: 500px;
   background-color: white;
    overflow: hidden;
}

#all-categories {
    background-color: white;
    padding: 10px 15px;
    font-size: 16px;
    color: #1c1c1c;
    font-weight: 900;
    font-family: "Cairo", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   
}

#all-categories::after {
    content: '\25BC'; /* Unicode character for the down arrow */
    font-size: 12px;
    margin-left: 5px;
}

#all-categories::before {
    content: '';
    width: 1px;
    height: 50%;
    border: none;
    background-color: #ddd;
    position: absolute;
    right: 5px;
    top: 25%;
}

#search-input {
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 16px;
    outline: none;
    color: #b2b2b2;
}

#search-button {
    background-color: #7fad39;
    color: white;
    font-weight: 900;
    font-family: "Cairo", sans-serif;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
#numero1 {
    display: flex;
    align-items: center; 
}

#numero1 img {
    max-width: 100%; 
    margin-left: 10px;
    height: auto;
    align-items: en;
}

.h5-container {
    margin-left: 10px; 
    margin-bottom: -10px;
    color: #1c1c1c;
    font-weight: 900;
}
#tel_cel{
    color: #1c1c1c;
    font-weight: 900;
    font-size: 16px;
    font-family: "Cairo", sans-serif;
}
.h5-container h5 {

    margin: 8px; 
}
#support{
    font-size: 14px;
    color: #6f6f6f;
}
#cent1{
  

    font-size: 14px;
    letter-spacing: 0px;
    font-family: "Cairo", sans-serif;
    
}
#menu-sacola{
    display: flex;
    text-align: center;
    gap: 18px;
 
}
#item{
   margin-left: 3px;
   color: #6f6f6f;
   
   
}
#cent1{
    margin-left: -18.6px;
    color: #252525;
    font-weight: 900;
    letter-spacing: 2px;
    
}
#item, #cent1{
    font-size: 14px;
    align-self: center;

}

#banner {
    grid-column: 3 / 6;
    grid-row: 3;
    background-image: url(imagenzinhas/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    display: block;
}

#ban_text1{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 4px;
    color: #7fad39;
    font-family: "Cairo", sans-serif;
}
#Vegetable{
    font-size: 46px;
    color: #252525;
    line-height: 52px;
    font-weight: 900;
    margin: 10px 0;
    font-family: "Cairo", sans-serif;
   width: 300px;
}
#Vegetable2{
    margin-bottom: 35px;
    font-size: 16px;
    font-family: "Cairo", sans-serif;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}
#buttonV1{
    display: inline-block;
    font-size: 14px;
    padding: 10px 28px 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    background: #7fad39;
    letter-spacing: 2px;
    font-family: "Cairo", sans-serif;
    margin-top: 8px;
}


#prod1 {
    grid-row: 4;
    grid-column: 2;
    display: block;
}

#prod2 {
    grid-row: 4;
    grid-column: 3;
}

#prod3 {
    grid-row: 4;
    grid-column: 4;
}

#prod4 {
    grid-row: 4;
    grid-column: 5;
}
.caix_prod{
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 900;
    letter-spacing: 2px;
    background: #ffffff;
    text-decoration: none;
    text-align: center;
    font-family: "Cairo", sans-serif;
    height: 38px;
    width: 213px;
    position: absolute;
    margin-top: -54px;
    margin-left:30px;
}

#nav-link {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
}

#drop-menu {
    position: absolute;
    list-style: none;
    padding: 0;
    width: 200px;
    opacity: 0;
    z-index: -99;
    top: 50px;
    transition: 0.5s;
    background: #222222;
    color: white;
}

#nav-drop {
   position: relative;
    
}

#nav-check:checked~#drop-menu{
    opacity: 1;
    top: 18px;       
    z-index: 99;
}
#nav-check{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.departments-menu {
    width: 100%;
}

#menu-toggle {
    display: none;
}

.menu-toggle-label {
    background-color: #7FAD39;
  
    border: none;
    text-align: center;
    width: 100%;
    
    font-size: 16px;
    cursor: pointer;
    
    display: block;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: none;
    display: block;
}



.menu-list li:last-child {
    border-bottom: none;
}

.menu-list a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.menu-list a:hover {
    background-color: #f0f0f0;
}

#menu-toggle:checked ~ .menu-list {
    display: none;
}
#Aldeptmen{
    width: 180px;
    font-size: 18px;
    font-weight: 900;
    color: #ffffff;
    font-family: "Cairo", sans-serif;
    margin-top: 6px;
}

#iCbarr {
    display: flex;
  text-align: center;
    justify-content: center;
    gap: 8px;
}

#iCbarr svg {
    width: 20px;
    height: 45px;
    
}

#featuread{
    font-family: "Cairo", sans-serif;
    font-size: 36px;
    color: #1c1c1c;
    font-weight: 900;
    position: relative;
    text-align: center;
}
#verdoProd{
   
    position: absolute;
    margin-top: -24px;
   margin-left: 638px;
    height: 4px;
    width: 80px;
    background: #7fad39;
}
#ListFetu{
    font-family: "Cairo", sans-serif;
    text-align: center;
    justify-content: center;
   list-style: none;
   display: flex;
   gap: 27px;
}



#produtos {
    display: grid;
    grid-template-columns: repeat(4, 275px); 
    grid-gap: 25px;
    grid-row-gap: 70px;
    text-align: center;
    justify-content: center;
align-items: center;
    
}

.produto img {
    width: 100%;
    display: block;
}

.Dindin {
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    font-family: "Cairo", sans-serif;
    
}

.txtProds {
    font-size: 1rem;
    
}


.banno {
    grid-column: span 2; 
    margin: 0 auto;
}

.banno img {
    width: 100%;
    display: block;
}
#extras {
    display: grid;
    grid-template-columns: repeat(3, 376px); 
    grid-gap: 25px;
    justify-content: center;
    margin-top: 25px;
   
}

.extra-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.extra-section h3 {
    font-size: 1.5rem;
   
    text-align: start;

    font-weight: 900;
    color: #1c1c1c;
    font-family: "Cairo", sans-serif;
}
#extr_tile{
    display: flex;
    justify-content: space-between;
}
#extr_tile{
    align-self: flex-end;
}

.extra-produto {
    display: flex;
    align-items: start;

    
}

.extra-produto img {
    height: 110px;
    width: 110px;
    margin-right: 10px;
}

.extra-produto p {
    
    color: #252525;
    font-family: "Cairo", sans-serif;
    font-size: 1rem;
    font-weight: 900;
   margin-left: 18px;
}
.extra-produto .Dindin{
    position: absolute;
    margin-left: 138px;
    margin-top: 38px;
    font-weight: 900;
    font-family: "Cairo", sans-serif;
}
h2{
    font-size: 36px;
    font-family: "Cairo", sans-serif;
    color: #1c1c1c;
    font-weight: 900;
    position: relative;
    text-align: center;
}


#verdoProd2{
margin-left: 151px;
position: absolute;
    margin-top: -9px;
    height: 4px;
    width: 80px;
    background: #7fad39;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.grid-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #e0e0e0;
   
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
}
.footer img{
    height: 50px;
    width: 100px;
}




.header {
    font-size: 1.25em;
    margin: 10px 0;
    color: #333;
    text-align: start;
    font-family: "Cairo", sans-serif;
    font-weight: 900;
}

.paragraph {
    font-size: 0.9em;
    color: #666;
    width: 310px;
}
.content svg{
    height: 20px;
    width: 19px;
}
.date{
    color: #b2b2b2;
}
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #F3F6FA;
    padding: 60px;
}
.footer-section {
    margin: 10px;
}
.footer-section h3 {
   
    color: #1c1c1c;
    font-weight: 900;
    font-family: "Cairo", sans-serif;
}
.footer-section ul {
    list-style: none;
    padding: 0;
}

.payment-methods{
    grid-column: 3/3;
  text-align: center;
  margin-left: 100px;
  
}

.payment-methods img {
    height: 23px;
    width: 286px;
    
    
}
#tile_listF{
    font-size: 18px; 
  font-weight: bold;
  margin-bottom: 10px; /
}
#listsFim{
    display: flex;

}
#Lis_f_sepa{
    display: flex;
    gap: 40px;
}
.finalmente{
  
    list-style-type: none; 
    
  
}

.lis_final li {
    margin-bottom: 10px;
    
}
.newsletter-input {
    display: flex;
    
}

.newsletter input[type="email"] {
    padding: 10px;
    flex: 1;
}

.newsletter button {
    font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    padding: 13px 30px 12px;
    background: #7fad39;
    border: none;
    
}

.newsletter button:hover {
    background-color: #7cb342;
}

.social-media img{
    width: 200px;
    height: 45px;
}
